/*------------------
    BG COLOR        
-------------------*/
.ms-bg-red {
    background-color: #d41c1c;
}

.ms-bg-yellow {
    background-color: rgb(255, 217, 0);
}

.ms-bg-lightgreen {
    background-color: #1ABC9C;
}

.ms-bg-green {
    background-color: #198754;
}

.ms-bg-darkblue {
    background-color: #051E34;
}

.ms-bg-blue {
    background-color: #1B72E8;
}

.ms-bg-bluebagde {
    background-color: #165BBA;
}

.ms-bg-white {
    background-color: white;
}

.ms-bg-black {
    background-color: black;
}
/*------------------
    TYPOGRAPHY       
-------------------*/
.ms-text-white {
    color: white;
}

.ms-text-grey {
    color: grey;
}

.ms-text-lightgreen {
    color: #1ABC9C;
}

.ms-text-yellow {
    color: #FF8F00;
}

/*------------------
    BUTTONS   
-------------------*/
.ms-btn-search {
    border: none;
    background-color: #E5E5E5;
    color: black;
}

.ms-btn-square {
    border: 1px solid white;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

.ms-btn-table {
    border: 1px solid gray;
    color: gray;
    font-size: 12px;
    padding: 4px 6px;
}

/*------------------
   IMAGE
-------------------*/
.img-mobile {
    height: 46px;
}

.ms-table-icon {
    width: 25px;
    border-radius: 50%;
}

/*------------------
   BADGE
-------------------*/
.ms-badge {
    background-color: #165BBA;
    padding: 5px;
    font-size: 10px;
    border-radius: 20px;
}

.ms-table-span {
    color: white;
    padding: 5px;
    font-size: 10px;
    border-radius: 20px;
}

/*------------------
    GRID LAYOUT    
-------------------*/
header {
    height: 70px;
    position: sticky;
    z-index: 1;
}

.ms-page-container {
    height: calc(100vh - 70px);
}

aside {
    width: 68px;
    height: 100%;
    background-image: url(./img/sidebar-bg.png);
    overflow-y: auto;
}

main {
    width: calc(100% - 68px); 
    overflow: hidden;
    overflow-y: auto;
}

/*------------------
    INPUT    
-------------------*/
.ms-input-search {
    border: none;
    background-color: #E5E5E5;
}

/*------------------
    RESPONSIVE 
-------------------*/
@media screen and (min-width: 992px) {
    aside {
        width: 148px;
    }

    main {
        width: calc(100% - 148px);  
    }

    #offcanvasScrolling {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    #offcanvasScrolling {
        width: 100%;
    }
}